<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.warehouse2.mapper.DeliveryMapper">

    <!--List<Delivery> getDeliveryByConditionForm(@Param("delivery") Delivery delivery, @Param("limit") String limit);-->
    <select id="getDeliveryByConditionForm" resultType="Delivery">
        SELECT * FROM sms_delivery
        <where>
            <if test="delivery.clientId != null and delivery.clientId > 0">
                client_Id = #{delivery.clientId}
            </if>
            <if test="delivery.deliveryDate != null and delivery.deliveryDate != '' and (limit == null or limit == '')">
                AND delivery_date = #{delivery.deliveryDate}
            </if>
            <if test="limit != null and limit == '本月份'">
                AND date_format(STR_TO_DATE( `delivery_date`,'%Y/%m/%d'), '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 0 MONTH),'%Y %m')
            </if>
            <if test="limit != null and limit == '上一个月份'">
                AND date_format(STR_TO_DATE( `delivery_date`,'%Y/%m/%d'), '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y %m')
            </if>
            <if test="limit != null and limit == '上第二个月份'">
                AND date_format(STR_TO_DATE( `delivery_date`,'%Y/%m/%d'), '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 2 MONTH),'%Y %m')
            </if>
            <if test="limit != null and limit == '上第三个月份'">
                AND date_format(STR_TO_DATE( `delivery_date`,'%Y/%m/%d'), '%Y %m') = date_format(DATE_SUB(curdate(), INTERVAL 3 MONTH),'%Y %m')
            </if>
            <if test="limit != null and limit == '上三个月份'">
                AND date_format(STR_TO_DATE( `delivery_date`,'%Y/%m/%d'), '%Y %m')
                in
                (
                date_format(DATE_SUB(curdate(), INTERVAL 1 MONTH),'%Y %m'),
                date_format(DATE_SUB(curdate(), INTERVAL 2 MONTH),'%Y %m'),
                date_format(DATE_SUB(curdate(), INTERVAL 2 MONTH),'%Y %m')
                )
            </if>
            <if test="limit != null and limit == '一个月内'">
                AND STR_TO_DATE( `delivery_date`,'%Y/%m/%d') > DATE_SUB(CURDATE(), INTERVAL 1 MONTH )
            </if>
            <if test="limit != null and limit == '三个月内'">
                AND STR_TO_DATE( `delivery_date`,'%Y/%m/%d') > DATE_SUB(CURDATE(), INTERVAL 3 MONTH )
            </if>
            <if test="limit != null and limit == '半年内'">
                AND STR_TO_DATE( `delivery_date`,'%Y/%m/%d') > DATE_SUB(CURDATE(), INTERVAL 6 MONTH )
            </if>
            <if test="limit != null and limit == '一年内'">
                AND STR_TO_DATE( `delivery_date`,'%Y/%m/%d') > DATE_SUB(CURDATE(), INTERVAL 1 YEAR )
            </if>
            <if test="limit != null and limit == '两年内'">
                AND STR_TO_DATE( `delivery_date`,'%Y/%m/%d') > DATE_SUB(CURDATE(), INTERVAL 2 YEAR )
            </if>
        </where>
        ORDER BY STR_TO_DATE( `delivery_date`,'%Y/%m/%d') DESC, id DESC
    </select>

    <!--int updateDesc(Delivery delivery);-->
    <update id="updateDesc" parameterType="Delivery">
        UPDATE sms_delivery
        SET description = #{description}
        WHERE id = #{id}
    </update>

    <!-- List<Delivery> getAll(); -->
    <select id="getAll" resultType="Delivery">
        SELECT * FROM sms_delivery
        ORDER BY STR_TO_DATE( `delivery_date`,'%Y/%m/%d') DESC, id DESC
    </select>

    <!--List<Delivery> getDeliveryByCondition(Delivery delivery);-->
    <select id="getDeliveryByCondition" parameterType="Delivery" resultType="Delivery">
        SELECT * FROM sms_delivery
        <where>
            <if test="clientId != null and clientId > 0">
                client_Id = #{clientId}
            </if>
            <if test="deliveryDate != null and deliveryDate != ''">
                AND delivery_date = #{deliveryDate}
            </if>
        </where>
        ORDER BY STR_TO_DATE( `delivery_date`,'%Y/%m/%d') DESC, id DESC
    </select>

    <!--List<Delivery> getDeliveryByDeliveryNum(@Param("deliveryNum") String deliveryNum);-->
    <select id="getDeliveryByDeliveryNum" parameterType="String" resultType="Delivery">
        SELECT * FROM sms_delivery
        WHERE delivery_num = #{deliveryNum}
        ORDER BY STR_TO_DATE( `delivery_date`,'%Y/%m/%d') DESC, id DESC
    </select>

    <!--List<Sku> getSkusById(@Param("id") Integer id);-->
    <select id="getSkusById" parameterType="Integer" resultType="Sku">
        SELECT s.id, s.name, s.spu_id, s.catalog3_id,s.brand_id, s.unit,s.brand_name,s.catalog_name,
         s.warehouse_id, s.warehouse_name, s.attr_value_str ,se.num, se.price, se.total_price  FROM sms_sku s, sms_sku_out se
        WHERE s.id = se.sku_id AND se.out_id = #{id}
    </select>


    <!--int insertRelation(@Param("id") Integer id, @Param("skus") List<Sku> skus);-->
    <insert id="insertRelation" >
        insert into sms_sku_out(out_id, sku_id, num, price, total_price)
        VALUES
        <foreach collection="skus" item="item" separator=",">
            (
            #{id},
            #{item.id},
            #{item.num},
            #{item.price},
            #{item.totalPrice}
            )
        </foreach>

    </insert>


</mapper>