<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tan.warehouse2.mapper.SkuMapper">

    <!--void addNum(@Param("id") Integer id, @Param("num") Integer num);-->
    <update id="addNum" parameterType="Integer">
        update sms_sku set num = num+#{num} where id = #{id}
    </update>
    <!--void minusNum(@Param("id") Integer id, @Param("num") Integer num);-->
    <update id="minusNum" parameterType="Integer">
        update sms_sku set num = num-#{num} where id = #{id}
    </update>

    <!--List<Sku> findSkuBySku(Sku sku);-->
    <select id="findSkuBySku" parameterType="Sku" resultType="Sku">
        SELECT * FROM sms_sku
        WHERE spu_id = #{sku.spuId} AND warehouse_id = #{sku.warehouseId}
        AND unit = #{sku.unit} AND attr_value_str = #{sku.attrValueStr}
    </select>

    <!-- 批量删除 利用name-->
    <delete id="deleteSkus" parameterType="java.util.List">
        DELETE FROM sms_sku WHERE id IN
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>

    <!-- getAttr -->
    <select id="getAttr" resultType="BaseAttr" parameterType="Integer">
        SELECT a.id, a.name, a.catalog3_id FROM bmms_base_attr as a, bmms_sku_attr as s
        WHERE a.id = s.attr_id AND s.sku_id = #{skuId}
    </select>
    <!-- deleteAttr -->
    <delete id="deleteAttr" parameterType="java.util.List">
        DELETE FROM bmms_sku_attr
        WHERE sku_id in
        <foreach collection="ids" item="id" open="(" close=")" separator=",">
            #{id}
        </foreach>
    </delete>
    <!-- insertAttr -->
    <insert id="insertAttr"  useGeneratedKeys="false">
        insert into bmms_sku_attr
        ( sku_id, attr_id )
        values
        <foreach collection="attrIds" item="attrId" index="index" separator=",">
            (
            #{skuId},
            #{attrId}
            )
        </foreach>
    </insert>

    <!-- 模糊查询 -->
    <select id="getSkuLikeName" parameterType="String" resultType="Sku">
        select DISTINCT  * from sms_sku
        <where>
            <!--
                方法一: 直接使用 % 拼接字符串
                注意:此处不能写成  "%#{name}%" ,#{name}就成了字符串的一部分,
                会发生这样一个异常: The error occurred while setting parameters,
                应该写成: "%"#{name}"%",即#{name}是一个整体,前后加上%
            -->
            <!--<if test="name != null">-->
                <!--name like "%"#{name}"%"-->
            <!--</if>--> <!-- 尝试后有毛病 -->
            <!--方法二: 使用concat(str1,str2)函数将两个参数连接 -->
            <if test="name != null">
                and name like concat(concat("%",#{name}),"%")
                OR brand_name like concat(concat("%",#{name}),"%")
                OR catalog_name like concat(concat("%",#{name}),"%")
                OR warehouse_name like concat(concat("%",#{name}),"%")
            </if>
            <!--方法三: 使用 bind 标签,对字符串进行绑定,然后对绑定后的字符串使用 like 关键字进行模糊查询 -->
            <!--<if test="email != null">-->
                <!--<bind name="pattern" value="'%'+email+'%'"/>-->
                <!--and email like #{pattern}-->
            <!--</if>-->
        </where>
    </select>

</mapper>